@import "./src/App";

$background-color: $BACKGROUND_VARIANT_DARKER;

.header {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2rem;
  background-color: $background-color;

  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: $DEFAULT_TEXT_COLOR;
    text-decoration: none;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      li {
        margin-left: 3rem;

        a {
          color: $DEFAULT_TEXT_COLOR;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            color: $ACCENT_COLOR;
          }
        }
      }
    }
  }
}
